#
# .gitignore file - Ignore everything and recursive allow them.
#

#
# Ignore everything.
#
*

#
# Recursive allow.
#
!.gitignore
!README.md
!docker-compose.yml
!configs
!README.ssl-certs.md
!configs/
!configs/additional-configs.md
!configs/certs/
!configs/certs/orangehrm.mydomain.com.crt
!configs/certs/orangehrm.mydomain.com.key
!configs/certs/README.md
!configs/automatic-backup/
!configs/automatic-backup/orangehrm-deployment-backup.*
!configs/automatic-backup/README.md
!configs/nginx/
!configs/nginx/default.conf
!configs/backup-and-restore.md
!configs/upgrading-orangehrm.md

